{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock title %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'posts/css/normalize.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'posts/css/style.css' %}" />
    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                <!--<a href="{% url "posts:dashboard" %}"></a>-->
                <div class="profile_name">
                    {% if request.user.is_authenticated %}
                        <h1>{{ request.user.get_full_name }}</h1>
                    {% endif %}
                </div>
                <div class="profile_pic">
                    {% if request.user.profile.profile_pic %}
                        <a href="{% url "edit" %}"><img src="{{ request.user.profile.profile_pic.url }}" title="Change Profile Picture" /></a>
                    {% else %}
                        <a href="{% url "edit" %}"><img src="{% static 'posts/images/profile_pic.png' %}" title="Add Profile Picture" /></a>
                    {% endif %}
                </div>
            </div>
            <div class="message">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        {{ message|safe }}
                        <a href="#" class="close">✖</a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div id="main_content">
                {% block content %}{% endblock content %}
            </div>
            <div class="footer_wrap">
            <div class="footer">
                <a href="{% url "posts:dashboard" %}">Home</a>
                <a href="{% url "posts:create_category" %}">Create Category</a>
                <a href="{% url "posts:category_list" %}">Category List</a>
                <a href="{% url "posts:create_post" %}">Store URL</a>
                <p>Copyright (c) 2016 Copyright Mohib All Rights Reserved.</p>
            </div>
            </div>
        </div>
        <script type="text/javascript" src="{% static 'posts/js/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'posts/js/main.js' %}"></script>
    </body>
</html>
