{% extends "base_post.html" %}
{% load posts_filter %}

{% block title %}Category List{% endblock %}

{% block content %}
<div class="show_list">
    <table>
        <tr>
            <th>Category Name</th>
            <th>Creation Date</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for category in categories %}
            <tr>
                <td>{{ category.title }}</td>
                <td>{{ category.created }}</td>
                <td><a href="{% url "posts:edit_category" id=category.id %}">Edit</a></td>
                <td><a href="{% url "posts:delete_category" id=category.id %}">Delete</a></td>
            </tr>
            {% empty %}
                <h3>Sorry, no entries in this page.</h3>
        {% endfor %}
    </table>
</div>


{% endblock content %}
