{% extends "base_post.html" %}
{% load posts_filter %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="show_list">
    <table>
        <tr>
            <th>Category Name</th>
            <th>Creation Date</th>
        </tr>
        {% for category in categories %}
            <tr>
                <td>{{ category.title }}</td>
                <td>{{ category.created }}</td>
            </tr>
            {% empty %}
                <h3>Sorry, no entries in this page.</h3>
        {% endfor %}
    </table>

</div>


{% endblock content %}
