{% load staticfiles %}
{% load posts_filter %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Urls</title>
        <link rel="stylesheet" type="text/css" href="{% static 'posts/css/normalize.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'posts/css/user_url.css' %}" />

    </head>
    <body>
        <div class="menu-wrap">
            <div class="menu">
                <ul  class="clearfix">
                    {% for category in categories %}
                        <li><h4>{{ category.title|title }}<span class="arrow">&#9660;</span></h4>
                        {% with forloop.counter0 as var %}
                        <ul class="sub-menu">
                            {% for post in posts|lookup:var %}
                                <li><a href="{{ post.url }}" target="_blank">{{ post.title|title }}</a></li>
                            {% endfor %}
                            </ul>
                        </li>
                        {% endwith %}
                        {% empty %}
                            <h3>Sorry, no entries in this page.</h3>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </body>
</html>
