{% extends "base_post.html" %}
{% load posts_filter %}
{% block title %}URL Detail{% endblock title %}
{% block content %}
<div class="show_list">
    <table>
            <tr>
                <td>Name: </td>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <td>Category: </td>
                <td>{{ post.category }}</td>
            </tr>
            <tr>
                <td>Url: </td>
                <td><a href="{{ post.url }}">{{ post.url }}</a></td>
            </tr>
            <tr>
                <td>Status: </td>
                <td>{{ post.status }}</td>
            </tr>
            <tr>
                <td>Created: </td>
                <td>{{ post.created }}</td>
            </tr>
            </tr>
            <tr>
                <td>Last Updated: </td>
                <td>{{ post.updated }}</td>
            </tr>
            </tr>
            <tr>
                <td>Note: </td>
                <td>{{ post.note }}</td>
            </tr>
    </table>
</div>
<div class="link_profile link_detail">
    <a href="{% url "posts:edit_post" id=post.id %}">Edit</a>
    <a href="{% url "posts:delete_post" id=post.id %}">Delete</a>
</div>

{% endblock content %}
