{% load staticfiles %}
{% load posts_filter %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Urls</title>
        <link rel="stylesheet" type="text/css" href="{% static 'posts/css/normalize.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'posts/css/user_url.css' %}" />
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet"> 
    </head>
    <body>
        <div class="link_list_wrap">
            <div class="link_list">
                {% for category in categories %}
                    <div class="column">
                    <h3>{{ category.title|title }}</h3>
                    {% with forloop.counter0 as var %}
                        {% for post in posts|lookup:var %}
                            <address class="single_link">
                                <a href="{{ post.url }}" target="_blank">{{ post.title|title }}</a>
                            </address>
                        {% endfor %}
                    {% endwith %}
                    </div><!--End column -->
                    {% empty %}
                        <h3>Sorry, no entries in this page.</h3>
                {% endfor %}
            </div> <!--End link_list-->

        <div class="footer">
            <a href="{% url "posts:dashboard" %}">Home</a>
            <a href="{% url "posts:create_category" %}">Create Category</a>
            <a href="{% url "posts:category_list" %}">Category List</a>
            <a href="{% url "posts:create_post" %}">Store URL</a>
            <p>Copyright (c) 2016 Copyright Mohib All Rights Reserved.</p>
        </div>
        </div> <!--End link_list_wrap-->
    </body>
</html>
