html{
    height: 100%;
}
body{
    width: 100%;
    margin: 0 auto;
    height: 100%;
}
.clearfix:after {
    display:block;
    clear:both;
}
li{
    list-style: none;
}
#wrapper{
    margin: 0 auto;
}
#header{
    background-image: url("../images/header_bg.jpg");

    /* Set a specific height */
    height: 300px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.profile_name{
    padding-top: 100px;
}
.profile_name h1{
    color: #fff;
    margin-top: 0px;
    text-align: center;
}
.profile_pic{
    width: 200px;
    margin: 45px auto 0;
}
#header img{
    width: 200px;
    height: 200px;
    border-radius: 100px;

}
#main_content{
    width: 70%;
    margin: 150px auto 0;
    clear: both;
    height: 100%;

}
.row{
    clear: both;
}
.dashboard_item_list{
    overflow: hidden;
}
.dashboard_item_list ul{

}
.dashboard_item_list ul li{
    list-style: none;
    float: left;
    margin: 0  2% 5% 2%;
    width: 20%
}
.dashboard_item_list img{
    width: 150px;
    height: 150px;
    border-radius: 20px
}
li a {
    color: green;
}
.footer_wrap{
    width: 60%;
    margin-top: 30px;
}
.footer{
    height: 100px;
    width: 480px;
    margin: 0 auto;
    float: right;
    color: #c3c0bb;
}
.footer a{
    text-decoration: none;
    color: #abb6b9;
    background-color: #e9f2f4;
    padding: 5px 10px;
    border-radius: 10px;
}
.overflow{
    overflow: hidden;
    float:right
}
.profile a{
    color: #876565;
    text-decoration: none;
}
.profile ul{

}
.profile ul li{
    list-style: none;
    margin: 20px 0px
}

/*----------Url Page---------------
-----------------------------------*/
.link_list{
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    webkit-justify-content: center;
    justify-content: center;
}
.column{
    width: 200px;
    margin: 20px 30px;
    text-align: center;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    padding: 15px 0px;
    border-top: 3px solid #d5d5d5;
}
.single_link{
    margin: 8px 0;
}
.single_link > a{
    text-decoration: none;
    text-align: center;
    font-style: normal;
    padding: 5px;
    color: #948f8f;
}
.single_link a:hover{
    background-color: #dad5d5;
    border-radius: 5px;
}

/*----------Form---------------
-----------------------------------*/
form {
    overflow:auto;
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 400px;
    padding: 16px;
    background: #F7F7F7;
}
form p {
    width:100%;
    overflow:auto;
}
label {
    float:left;
    clear:both;
    color: #565b5b;
    margin-bottom:4px;
}
input, textarea, select {
    clear:both;
    float:left;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 1%;
    border: 1px solid #ccc;
    padding: 2%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}
input:focus{
    box-shadow: 0 0 5px #43D1AF;
    padding: 3%;
    border: 1px solid #43D1AF;
}
input[type=submit], a.button {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #43D1AF;
    border-bottom: 2px solid #30C29E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
}
.errorlist {
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px;
}
.helptext {
    margin:0 0 20px 0;
    color:#aaa;
    clear:both;
    float:left;
    font-size:13px;
}
.show_list{
    width: 50%;
    margin: 0 auto;
}
.show_list a{
    text-decoration: none;
    color: #4fdd38;
}
.show_list table{
    margin: 50px 0px;
}
.show_list table tr{
    margin: 5px;

}
.show_list table tr th{
    padding: 20px;
    background: #a4f9a8;
}
.show_list table tr td{
    padding: 20px;
    background: #cbf7cd;

}
.link_profile{
    width: 60%;
    margin: 0 auto;
}
.link_profile a{
    margin: 0 50px;
    text-decoration: none;
    color: #876565;
    padding: 8px 4px;
    float: left;
}
.link_profile a:hover{
    background: #cbf7cd;
    border-radius: 5px;
    padding: 8px 4px;
}
