body {
    background: #00c6ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #00c6ff , #0072ff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #00c6ff , #0072ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.link_list_wrap{
    width: 70%;
    margin: 0 auto;
}
.link_list{
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    webkit-justify-content: center;
    justify-content: center;
}
.column{
    width: 200px;
    margin: 20px 30px;
    text-align: center;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    padding: 15px 0px;
    border-top: 3px solid #0075ff;
}
.single_link{
    margin: 8px 0;
}
.single_link > a{
    text-decoration: none;
    text-align: center;
    font-style: normal;
    padding: 5px;
    color: #fff;
}
.single_link a:hover{
    background-color: #00c6ff;
    border-radius: 5px;
}
.footer{
    width: 480px;
    height: 50px;
    margin: 30px auto;
    color: #c3c0bb;
}
.footer a{
    text-decoration: none;
    color: #077899;
    background-color: #e9f2f4;
    padding: 5px 10px;
    border-radius: 10px;
}
