{% extends "base.html" %}

{% block content %}
<h2>{{ user.get_full_name }}</h2>
<ul>
    <li>Profile Picture</li>
    <li>Username: {{ user.username }}</li>
    <li>Firstname: {{ user.first_name }}</li>
    <li>Lastname: {{ user.last_name }}</li>
    <li>Email: {{ user.email }}</li>
    <li>Birth Date: {{ user.profile.date_of_birth }}</li>
    <li>Location: {{ user.profile.address }}</li>
</ul>

<a href='{% url 'edit' %}'><p>Edit Profile</p></a>
<a href='{% url 'logout' %}'><p>Logout</p></a>
{% endblock content %}
